<div class="left">
  <input multiple type="file" (change)="onMetadataSelected($event)" />

  <ng-container *ngIf="traits.length">
    <div class="example-action-buttons">
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>

    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let trait of traits">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ trait }} ({{ traitCount[trait] }})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox
          class="checkbox"
          *ngFor="let element of elementCount[trait] | keyvalue"
          (change)="filterMetadata(trait, element.key, $event.checked)"
        >
          {{ element.key }} ({{ element.value }})
        </mat-checkbox>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>
<div class="right">
  <input multiple type="file" (change)="onImageSelected($event)" />
  <div class="preview">
    <div
      *ngFor="let item of filteredMetadata"
      [innerHtml]="images[item.id]"
    ></div>
  </div>
</div>
